@import'./variables.styl';

.first-page
  position relative
  height 100%
  background-image url('./../assets/image/bg_first_page.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  &__background
    height 100%
    background linear-gradient(45deg, alpha($white, 1) 0%, alpha($white, 0) 100%)

