.first-page
  .content-item-right
    height 100%
    .content-item
      position relative
      display flex
      align-items center
      height 100%
      &__img
        width 100%
        height auto
        > img
          max-width 100%
          height auto
      &__vector
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 247px
        height 247px
        > img
          opacity .95
        > h3
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%)
          width 100%
          font-size 2rem
          font-family Alegreya-Regular
          color $lightBrown
          text-align center
