.second-page
  height 760px
  background-image url('./../assets/image/placeholder.jpg')
  background-size cover
  &__wrapper
    height 100%
    display flex
    justify-content flex-start
    align-items center

  .content-item
    position relative
    display flex
    height 510px
    background-color $white
    box-shadow 10px 4px 15px 20px alpha($black, .2)
    &-left
      width 38%
      height 100%
      background-image url('./../assets/image/second_pages_img_1.jpg')
      background-position center
      transition width 1s
      &__icons
        height 100%
        display flex
        flex-direction column
        justify-content center
        align-items flex-start
        > .fa
          margin 4px 25px
          color $white
    &-right
      box-sizing border-box
      width 62%
      display flex
      flex-direction column
      justify-content space-between
      background-image url('./../assets/image/mill.png')
      background-repeat no-repeat
      background-position right bottom
      transition width 1s
      &__wrapper
        box-sizing border-box
        height 100%
        padding 80px 50px 50px
        display flex
        flex-direction column
        justify-content space-between
        background alpha($white, .85)
      &__head
        font-family Alegreya-Bold
        letter-spacing .2rem
        opacity 1
        transition opacity 1s
        transition-delay .5s
        > h2
          font-size 2.5rem
          color $darkGray
        > h4
          font-size .8rem
          text-transform uppercase
          color $lightBrown
      &__text
        opacity 1
        transition opacity 1s
        transition-delay .5s
        > p
          font-family Proxima_Nova-Regular
          font-size .9rem
          letter-spacing .1rem
          line-height 1.5rem
          color $darkGray
      &-slider
        margin 0 auto
        display flex
        justify-content space-between
        align-items center
        width 100%
        opacity 1
        transition opacity 1s
        transition-delay .5s
        &__button
          box-sizing border-box
          width 32px
          height 32px
          border 2px solid $darkGray
          border-radius 50%
          cursor pointer
          &:hover
            border 2px solid $lightBrown
            > .fa
              color $lightBrown
          > .fa
            width 100%
            height 100%
            display flex
            justify-content center
            align-items center
            color $darkGray
        &__img
          width 100%
          display flex
          justify-content space-around
          align-items center
          &_1,
          &_2,
          &_3
            background-size cover
            background-position center
            width 90px
            height 90px
            border none
            border-radius 50%
          &_1
            background-image url('./../assets/image/slide_1.jpg')
          &_2
            background-image url('./../assets/image/slide_2.jpg')
          &_3
            background-image url('./../assets/image/slide_3.jpg')
    &-center
      position absolute
      top 50%
      left 38%
      transform translate(-50%, -50%)
      width 50px
      height 50px
      border-radius 50%
      background-color $white
      cursor pointer
      transition left 1s
      &__menu
        position absolute
        padding 15px
        width 9px
        display flex
        justify-content space-between
        align-items center
        top 50%
        left 50%
        transform translate(-50%, -50%)
        &_line
          width 1px
          height 16px
          background-color $lightBrown
    &-kopie
      position absolute
      right 0
      transform translate(54%, -20%)
      width 200px
      height 200px
      background url('./../assets/image/kopie.png'), $white
      box-shadow 0 4px 15px 20px alpha($black, .2)
      &__text
        box-sizing border-box
        height 100%
        display flex
        flex-direction column
        justify-content space-between
        align-items center
        padding 20px
        font-family Alegreya-Bold
        text-align center
        background alpha($white, .9)
        > h3
          color $darkBrown
          text-transform uppercase
          letter-spacing .1rem
        > h2
          font-size 6rem
          letter-spacing .4rem
          line-height .5
          color $lightBrown
        > h4
          color $lightGray

  .content-item.showed

    .content-item-left
      width 83%
      transition width 1s
      transition-delay .5s
    .content-item-right
      width 17%
      transition width 1s
      transition-delay .5s
      background-position bottom, center
      &__head
        opacity 0
        transition opacity 1s
      &__text
        opacity 0
        transition opacity 1s
      &-slider
        opacity 0
        transition opacity 1s
    .content-item-center
      left 83%
      transition left 1s
      transition-delay .5s

.content-item-center__menu
  &:hover
    .content-item-center__menu_line
      background-color $darkBrown

@media screen and (max-width: $tablets)
  .second-page
    display none