@import './variables.styl';

  .first-page
    .content-item
      height 750px
      &-left
        display flex
        flex-direction column
        justify-content space-between
        align-items center
        box-sizing border-box
        padding 60px
      &__head
        > h2
          font-size 3rem
          font-family Alegreya-Bold
          text-align center
          color $darkGray
        > h4
          font-family Alegreya-Bold
          text-align center
          color $lightBrown
          text-transform uppercase
      &__text
        > p
          font-family Proxima_Nova-Regular
          text-align center
          color $darkGray
          font-size .8rem
          letter-spacing .1rem
          line-height 1.3rem
      &__title
        > h3
          font-family Alegreya-Bold
          text-align center
          color $darkGray
          font-size 1.6rem
      &__box
        display flex
        justify-content center
        align-items center
        max-width 100%
        > h3
          padding 10px 15px
          border-top 1px solid alpha($darkGray, .2)
          border-bottom 1px solid alpha($darkGray, .2)
          font-family Alegreya-Regular
          text-align center
          color $darkGray
          letter-spacing .1rem
        > img
          margin 0 20px
          width 100px
          height 100px
          border 2px solid $white
          border-radius 50%
      &__quotation
        margin 0 auto
        padding 10px
        display flex
        justify-content space-between
        height 100px
        &_left
          align-self flex-start
        &_center
          margin 0 35px
          align-self center
          font-family Scriptina
          font-size 1.7rem
          line-height 2.4rem
          color $lightBrown
          text-align center
        &_right
          align-self flex-end
          transform scaleX(-1)

@media screen and (max-width: $tablets)
  .first-page
    .content-item
      height 675px
@media screen and (max-width: $mobile)
  .first-page
    .content-item
      height 650px